<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Greenhouse Gases</title>
  <script src="../assets/js/vue.js"></script>
  <script src="../assets/js/scrollama.min.js"></script>
  <script src="../assets/js/d3.min.js"></script>
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/fonts.css">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div id="app">
    <header>
      <h-1>Leaking anthropogenic Greenhouse Gases Data</h-1>
      <h-2>Profiles & worldwide comparison</h-2>
    </header>
    <main>
    <section class="intro">
        <div class="boxtext">
          <div class="square"></div>
          <p>
            Greenhouse gases, most importantly Carbon dioxide (CO₂), Methane (CH₄),
            Laughing gas (N₂0) and F-Gases (PFC, NF3, SF6), are gases in the Earth's
            atmosphere that are responsible for global warming. To masure the climate
            impact, or more precisely the climate damage of these greenhouse gases,
            gases can be converted into CO₂ equivalents (CO₂eq).
          </p>
        </div>
        <p-2><italic>What greenhouse gases do we produce? How damaging are they?
        Scroll down to see the answers!</italic>
        </p-2>

        <div class="stickyheader" style="z-index: 200;">
          <div class="list-row" style="margin-bottom: 3vh;">
            <div class="list-part" style="margin: 4vh 0 0 0;"><p-titel style="color: var(--color-co2)"> Carbon dioxide </p-titel></div>
            <div class="list-part" style="margin: 4vh 0 0 0;"><p-titel style="color: var(--color-ch4)"> Methane </p-titel></div>
            <div class="list-part" style="margin: 4vh 0 0 0;"><p-titel style="color: var(--color-n2o)"> Nitrous Oxide </p-titel></div>
            <div class="list-part" style="margin: 4vh 0 0 0;"><p-titel style="color: var(--color-fgas)"> F-Gases </p-titel></div>
          </div>
        </div>

        <div class="list-row">
          <div class="list-part">
            <p>CO₂</p>
            <span class="dot" style="background-color: var(--color-co2)"></span>
            <div class="square" style="width:2px;margin: 0 0 0 0;"></div>
          </div>
          <div class="list-part">
            <p>CH₄</p>
            <span class="dot" style="background-color: var(--color-ch4)"></span>
            <div class="square" style="width:2px;margin: 0 0 0 0;"></div>
          </div>
          <div class="list-part">
            <p>N₂0</p>
            <span class="dot" style="background-color: var(--color-n2o)"></span>
            <div class="square" style="width:2px;margin: 0 0 0 0;"></div>
          </div>
          <div class="list-part">
            <p>PFC, NF4, SF4</p>
            <span class="dot" style="background-color: var(--color-fgas)"></span>
            <div class="square" style="width:2px;margin: 0 0 0 0;"></div>
          </div>
        </div>
        <div class="text-list" style="width: auto">
          <p-titel style="color: var(--color-black); text-align:left;padding-left: 2.5vw; "> How damaging are the greenhouse gases? </p-titel>
          <div class="boxtext">
            <div class="square"></div>
            <p>
              In order to make the effects of the various greenhouse gases on the climate comparable,
              the United Nations Intergovernmental Panel on Climate Change (IPCC) has defined
              the so-called Global Warming Potential (GWP). The GWP expresses the warming
              effect of a certain amount of the respective greenhouse gas over a defined
              period of time (100 years) compared to that of CO₂.
            </p>
          </div>
          <p-2 style="color: var(--color-ch4); padding-left: 2.5vw;"> <italic> <strong style="color: #8D75F3">
            One Example:</strong> Methane has 28 times more climate impact
          than Carbon Dioxide. </italic>
        </p-2>
        </div>
        <div class="typewriter">
          <p-typewriter>10ppm Methane x 28 CO₂eq = 280 ppm CO₂eq</p-typewriter>
        </div>
        <div class="boxtext">
          <div class="square" style="background-color: var(--color-co2); height:80px; width: 12px"></div>
          <p>
            The climate impact of carbon dioxide serves as a benchmark,
            while the other greenhouse gases are related to each other according to
            their specific effectiveness in particles per million particles (part per million, ppm)
            of CO₂.
          </p>
        </div>
        <div class="list-row" style="margin-top:5vh;">
          <div class="list-part">
            <span class="dot" style="background-color: var(--color-co2)"></span>
          </div>
          <div class="list-part">
            <span class="dot" style="background-color: var(--color-ch4)"></span>
          </div>
          <div class="list-part">
            <span class="dot" style="background-color: var(--color-n2o)"></span>
          </div>
          <div class="list-part">
            <span class="dot" style="background-color: var(--color-fgas)"></span>
          </div>
        </div>
        <p-2 style="padding-left:0"> <italic> Scroll down to see how CO₂-equivalents measure climate impact</italic>
      </p-2>
      <div class="list-row" style="margin-bottom: 0;">
        <div class="list-part"> <p> 1 CO₂eq </p> </div>
        <div class="list-part"> <p> 28 CO₂eq </p> </div>
        <div class="list-part"> <p> 298 CO₂eq </p> </div>
        <div class="list-part"> <p> 12400-23500 CO₂eq </p> </div>
      </div>
      <div class="img-row">
        <img style="padding: 0 1vw 0 1vw" src="../assets/images/Bobbel1.png">
        <img style="padding: 0 1vw 0 1vw" src="../assets/images/Bobbel2.png">
        <img style="padding: 0 1vw 0 1vw" src="../assets/images/Bobbel3.png">
        <img style="padding: 0 1vw 0 1vw" src="../assets/images/Bobbel4.png">
      </div>

      <div class="scrolly">
        <figure ref="figure">
          <div class="text-list" style="width: auto; margin-top:10vh;">
            <p-titel style="text-align:left; padding-left:2.5vw;"> The importance of dwell time </p-titel>
            <div class="boxtext">
              <div class="square" style="height:100px;"></div>
              <p>
                As already mentioned, the GWP expresses the warming effect of a
                certain amount of the respective greenhouse gas over a defined
                period of time (100 years) compared to that of CO₂. But apart
                from that, all gases are remaining in the atmosphere for different
                amounts of time, from months to millennia, and affect the climate
                on very different timescales.
              </p>
            </div>
          </div>
          <img v-if="step === 0" src="../assets/images/Time1.png"/>
          <img v-if="step === 1" src="../assets/images/Time2.png"/>
          <img v-if="step === 2" src="../assets/images/Time3.png"/>
          <img v-if="step === 3" src="../assets/images/Time4.png"/>
          <img v-if="step === 4" src="../assets/images/Time5.png"/>
          <img v-if="step === 5" src="../assets/images/Time6.png"/>
        </figure>
        <article>
          <div class="step" data-step="0" style="background:none; ">
            <p></p>
          </div>
          <div class="step" data-step="1" style="background:none; ">
            <p></p>
          </div>
          <div class="step" data-step="2" style="background:none; ">
            <p></p>
          </div>
          <div class="step" data-step="3" style="background:none; ">
            <p></p>
          </div>
          <div class="step" data-step="4" style="background:none; ">
            <p></p>
          </div>
          <div class="step" data-step="5" style="background:none; ">
            <p></p>
          </div>
        </article>
      </div>
      <div class="text-data">
        <p-titel style="margin-left: -20vw; text-align:left;"> Percentage of greenhouse gases <br> in our atmosphere </p-titel>
        <img style="position:absolute; margin-top:15vh;" src="../assets/images/percentage all.png">
          <div class="img-row" style="margin-top: 30vw;">
            <img style="margin:0 0 0 3vw;" src="../assets/images/co2-img.png">
            <img style="margin:0 5vw 0 5vw;" src="../assets/images/ch4-img.png">
            <img style="margin:0 5vw 0 10vw;" src="../assets/images/n2o-img.png">
            <img style="margin:0 6vw 0 8vw;" src="../assets/images/f-gas-img.png">
          </div>
      </div>
    </section>

    <section class="scrolly">
        <figure ref="figure">
          <p-titel style="margin-left:-40vh;"> The origin of greenhouse gases </p-titel>
          <img v-if="step === 0" src="../assets/images/Frame 1.png"/>
          <img v-if="step === 1" src="../assets/images/Frame 2.png"/>
          <img v-if="step === 2" src="../assets/images/Frame 3.png"/>
          <img v-if="step === 3" src="../assets/images/Frame 4.png"/>
        </figure>
        <article>
          <div class="step" data-step="0">
            <p style="color: var(--color-co2)">
              <strong style="color: var(--color-co2)">Carbon dioxide</strong>
               is largely produced by the burning of fossil fuels such
              as coal, oil and gas, for example for power generation, in industry,
              domestic heating systems and in road traffic. In addition, as a result
              of deforestation, CO2 is released by the decomposition of biomass during
              the burning of mainly tropical forests. Lignite-fired power plants emit
              about 20 percent of the total German CO2 emissions.
            </p>
          </div>
          <div class="step" data-step="1">
            <p style="color: var(--color-ch4)">
              <strong style="color: var(--color-ch4)">Methane</strong>
               is always produced when organic material is decomposed in the
              absence of oxygen; this occurs mainly in the stomachs of ruminants
              (cows and sheep), in wet rice cultivation and in landfills. For
              example, a cow produces about 150 to 250 litres of methane.
            </p>
          </div>
          <div class="step" data-step="2">
            <p style="color: var(--color-n2o)">
              <strong style="color: var(--color-n2o)">Laughing gas</strong>
               is produced in the soil during the decomposition of
              mineral nitrogen fertilizers. It is the most important greenhouse
              gas released by agriculture worldwide. The use of land and fertilizers
              leads to a significant release of CO2 and nitrous oxide.
            </p>
          </div>
          <div class="step" data-step="3">
            <p style="color: var(--color-fgas)">
              <strong style="color: var(--color-fgas)">F-Gases</strong>
               are mainly used as propellants and refrigerants,
              their use has been greatly reduced since 1990 as they contribute
              to the destruction of the ozone layer; the fluorocarbons (HFCs)
              used as substitutes do not damage the ozone layer - but
              they are also greenhouse gases.
            </p>
          </div>
        </article>
      </section>

    </main>
    <footer>
    </footer>
  </div>
  <script src="./index.js"></script>
</body>

</html>
