:root {
  --spacing: 2rem;
  --color-white: #fff;
  --color-black: #120C25;
  --color-accent: #00C7A5;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "RobotoMono-Bold", "Roboto-Medium", "RobotoMono-Medium","Roboto-Regular";
  font-size: 100%;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, main, footer {
  width: 100%;
}

header {
  position: absolute;
  width: 100vw;
  height: 20vh;
  left: 0px;
  top: 0px;
  background: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing);
  margin: 0 0 var(--spacing) 0;
  border-radius: 0px 0px 20px 20px;
}

h1 {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: 5vh;
  font-family: "RobotoMono-Medium";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  color: var(--color-white);
  padding-bottom: 5vh;
}

h5 {
  color: var(--color-white);
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: 5vh;
  font-family: "RobotoMono-Medium";
  font-style: normal;
  text-align: center;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  padding-top: 7vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  max-width: 500px;
  padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing);
  hyphens: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.intro {
  margin: 40vh var(--spacing) 0 var(--spacing);
  padding: 0 0 0 0;
  font-family: "Roboto-Regular";
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
}

.square {
  height: 190px;
  width: 6px;
  background-color: #00C7A5;
}

section.scrolly {
  padding: 0 0 0 0;
}

.outro {
  padding-bottom: var(--spacing);
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

strong {
  color: black;
  font-weight: bold;
}

p {
  font-family: "Roboto-Regular";
}

p2 {
  font-family: "Roboto-Regular";
  font-style: italic;
  color: var(--color-accent);
  padding-top: 2vh;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step {
  margin: 0 0 var(--spacing) 0;
  font-weight: normal;
  background: var(--color-white);
  padding: var(--spacing);
  width: 100%;
  margin: 20vh 0;
}

.step:nth-child(1) {
  align-self: flex-start;
}
.step:nth-child(2) {
  margin: 20vh 0;
}
.step:nth-child(3) {
  margin: 20vh 0;
}
.step:nth-child(4) {
  margin: 20vh 0;
  align-self: flex-end;
}

figure {
  background-color: rgb(217, 217, 217);
  position: -webkit-sticky;
  position: sticky;
  width: auto;
  height: 100vh;
  margin: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure svg {
  /* position: absolute; */
  top: 0;
}

.scrollama__debug-offset {
  border-color: var(--color-accent) !important;
}
.scrollama__debug-offset p {
  color: var(--color-accent) !important;
}

rect.bg {
  fill: var(--color-black);
}

rect.square {
  fill: var(--color-white);
  transition: transform 2s;
}

line {
  stroke-width: 25px;
  transition: stroke-width 0.5s;
}
line.thick {
  stroke-width: 100px;
}

text {
  text-anchor: middle;
  fill: var(--color-white);
  font-size: 4em;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
